body {
  font-family: sans-serif;
}

input{
  height: 30px;
  font-size: 15px;
}

p{
  margin-top: 0px;
  font-size: 25px;
}

.container{
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  margin-top: 20px;
}
